name: Simple Docker Workflow

on:
  workflow_dispatch:   # Run manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t hello-world .

      - name: Run Docker container
        run: docker run hello-world
